* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: system-ui, Helvetica, Arial, sans-serif;
}

header {
	padding: 1rem;
	background-color: rgb(245, 245, 245);
	h1 {
		margin: 0 2rem;
	}
}

.container {
	max-width: 1000px;
	margin: 0 auto;
}
