* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: system-ui, Helvetica, Arial, sans-serif;
}

header {
	padding: 1rem;
	background-color: rgb(245, 245, 245);
	h1 {
		margin: 0 2rem;
	}
}

img {
	max-width: 100%;
}

.container {
	max-width: 1100px;
	margin: 0 auto;
}

.actors-list {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	margin-top: 2rem;
}

.card {
	border: 1px solid black;
	min-height: 435px;
	width: 350px;
	img {
		height: 200px;
		margin: 0 auto;
		display: block;
	}
}

.card-image {
	background-color: darkgray;
}

.card-body {
	padding: 1rem;

	.bold {
		font-weight: 600;
	}

	& > * + * {
		padding: 0.2rem;
	}

	.most-famous-movies {
		list-style: none;
	}
}
